* {
  box-sizing: border-box;
}
html,body {
  padding: 0;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
}





a {

  color: rgb(255, 0, 0) ;
}




/*okno*/
#slider {
  text-align: center;
  width: 500px;
  height: 300px;
}

#slider .slide {
  background-color: antiquewhite;
  width: 500px;
  height: 310px;
  overflow: hidden;
}

#slider .slide.active {
  background-color: antiquewhite;
  width: 500px;
  height: auto;
  overflow: visible;
}
