@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    /*czcionka*/
    font-family: "Popins";
    font-size: 22px;
    font-weight: 500;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(150, 73, 105, 0.637);
}

.kalkulator {
    margin: 25px;
    display: grid;
    justify-content: center;
    align-content: center;
    /*tutaj robi 5 kolumn szerokosc kolumny 80px*/
    grid-template-columns: repeat(5,80px);
    /*to samo tylko wiersze,min max to że tablica wyników bedzie sie powiekszać*/
    grid-template-rows: minmax(120px,auto) repeat(5,80px);
    /*ustawiamy minimalna wysokosc na 70% widoku*/
    min-height: 70vh;
}

.wynik {
    /*od pierwszej do ostatniej*/
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.432);
    /*tu chodzi o to że sie oddzielają te 2*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    /*żeby zawsze d o 2 linijki przeskakiwało*/
    word-wrap: break-word;
    word-break: break-all;
}

.poprzednie-dzialanie {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.aktualne-dzialanie {
    font-size: 30px;
    color: rgba(255, 255, 255,100);
}

button {
    /*jak najedziemy zmienia sie kursor*/
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.432);
    background-color: rgba(0, 0, 0, 0.616);;
    outline: none;
}
/*ze jak sie najedzie to zmienia kolor*/
button:hover,button:focus {
    background-color: rgba(0, 0, 0, 0.76);;
}
/*wszystko co ma col-dwa bedzie zajmowalo 2 kolumny*/
.col-dwa {
    grid-column: span 2;
}

.row-dwa {
    grid-row: span 2;
}